@import "variables";


/* ------------------------FOOTER------------------------ */

.footer-main{
    font-size: 0.8em;
    background: $color-6;
    text-align: center;
    // padding: 2rem 0;
    // margin-top: 3rem ;
    box-shadow: -3px -3px 6px rgba($color: $color-2, $alpha: 0.3);
    // position: absolute;
    // bottom: 0px;
    // width: 100%;
    display: table-row;
    height: 5em;
    div{
        display: table-cell;
        vertical-align: middle;
    }
}