@import "libs/reset.scss";
@import "libs/responsive.scss";
@import "libs/functions.scss";
@import "libs/mixins.scss";
@import "variables";
@import "main";
@import "header";
@import "footer";

// TESTS BOUCLE COULEUR VARIABLES
// $colors:
//     #260c1aff,
//     #6e6a6fff,
//     rgba(110, 106, 111, 0.3),
//     #d4d2d5ff,
//     #7f0000;
// $i:1;

// @each $color1 in $colors{
    //             @debug $couleur= $color1;        
    //         // @debug "$color-"#{$i}":" #{$color};
    //         // @debug#{$i = $i + 1}
    // }
    

/* ------------------------HERO------------------------ */
.hero{
    margin-top: 3em;
    margin-bottom: 3em;
    // background-color: rgba($color: $color-2, $alpha: 0.3) ;
    padding: 20px;
    overflow: hidden;
}

.text-hero{
    a{
        float: right;
    }

    &:last-child{
        margin-bottom: 2em;
    }
}

/* ------------------------TITRE H2 MAIN + FORMULAIRE de RECHERCHE------------------------ */

.formulaire{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    flex-wrap: wrap;
    align-content: center;
    
    *{
        margin: 0.3rem;
    }
}


/* ------------------------BLOC ETABLISSEMENT------------------------ */


.etablissement{
    @extend .box;
    display: flex;
    flex-direction: column;
    &:hover{
        background-color: rgba($color: $color-2, $alpha: 0.1);
    }
    *{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 10px;
    }
        
    .logo{
        max-width: 40%;
        transition: 0.5s;

        &:hover{
            transform: scale(1.05);
        }
    }

    
    @media #{$large-up}{
        flex-direction: row;
        .bouton{
            align-self: flex-end;
            margin: 0;
        }

    }
}



.pagination p{
    text-align: center; 
    margin-bottom: 2em;  
   } 




.italic{
    font-style: italic;
    margin-bottom: 1em;
    font-size: 0.8em;
}



.formulaire-com{
    
    display: grid;
    grid-template-columns: 1fr 1fr  repeat(2,rem(110px));
    grid-template-rows: auto;
    grid-template-areas: 
    " . . . vote"
    "form form form form";
    column-gap: 1rem;
    
    textarea{
        width: 100%;
        min-height: 5em;
        resize: vertical;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    form{
        grid-area: form;
    }

    @media #{$large-up}{
        // display: flex;
        // flex-direction: row-reverse;
        // justify-content: space-between;
        grid-template-areas: 
        " form form . vote"
        "form form . .";
        textarea{
            min-height: 8em;
        }
    }


}

.vote{
    
    *{
        text-decoration: none;
    }
    grid-area: vote;
    display: inline-block;
    background: $color-6;
    padding: 0.5em;
    @extend %shadow;
    border: 1px solid #999;
    border-radius: 1em;
    &[choix="non"]{
        .vote-non{
                color: red;
            }
    }

    &[choix="oui"]{
        .vote-oui{
                text-decoration: none;
                color: green;
            }
        }
        
   svg{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    }
}


.liste-com{
    .auteur{
        margin-top: 1em;
        font-style: italic;
        strong{
            font-weight: 600;
            font-style: normal;
        }
    }
    .message{
        padding-bottom: 0.9em;
        border-bottom: 1px solid #999;
    }
    .commentaire-auteur *{
        color: $color-4;
    }
}

.box-connexion{
    @extend .box;
    margin-top: 0;
    @media #{$large-up}{
        width: 600px;
        
        .connexion{
            width: 85%;
        }
    }
}
.onglet{
    @extend .box-connexion;
    box-shadow: 0px 0px 0px;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    a{
        // box-shadow: 3px 3px 6px rgba($color: $color-2, $alpha: 0.1);
        @extend %shadow;
        padding: rem(20px);
        text-align: center;
        width: 48%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        text-decoration: none;
    }
    .actif{
        background-color: $color-6;
    }
    .inactif:hover{
        background-color: rgba($color: $color-6, $alpha: 0.4);
    }
    @media #{$large-up}{
        padding: 0 rem(20px);
        width: 640px;
    }

}

.connexion{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    // width: 70%;
    label{
        margin-top: 1em ;
        margin-bottom: 0.5em;
    }
    .bouton{
        display: block;
        text-align: center;
        margin: 1.5em auto;
    }

    .password-box{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        border: 1px solid #999;
        border-radius: 4px;
        #password, #new_password{
            border: none;
            grid-column: 1 / span 9;
        }
        
        svg{
            grid-column: 10 / span 1;
            cursor: pointer;
            margin: auto;
            height: 2em;
            width: 2em;
            color: $color-2;
        }

    }
}