/* DEFINITION DES VARIABLES */
$base-font-size: 17px;
$largeur-container: 1000px;

$color-1: #260c1aff;
$color-2: #6e6a6fff;
$color-3: #f0efef;
$color-4: #f87060ff;
$color-5: #7f0000;
$color-6: #FFF;
$color-7: #000;

